<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="../images/site-logo.png" alt="Bird Logo" height="38"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/contact" aria-current="page" class="nav-link px-2 text-white">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="/donate" aria-current="page" class="nav-link px-2 text-white">Donate</a>
                </li>
                <li class="nav-item">
                    <a href="https://avibase.bsc-eoc.org/avibase.jsp" aria-current="page"
                       class="nav-link px-2 text-white">Bird Database</a>
                </li>
            </ul>
            <div class="col-md-8">
                <form class="d-flex" action="/search" method="get" role="search">
                    <input class="form-control me-2" type="search"
                           placeholder="Search posts by title, bird, location or user..." aria-label="Search" name="q">
                    <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-search"></i></button>
                </form>
            </div>
            <div class="mx-2">
                <!-- checks if user is authenticated and displays the correct navbar -->
                <% if (!aut) { %>
                    <a href="/login" class="btn btn-outline-light"><i
                                    class="fa-solid fa-right-to-bracket me-2"></i>
                        Login
                    </a>
                    <a href="/register" class="btn btn-warning"><i class="fa-solid fa-pen-to-square me-2"></i>
                        Sign-up
                    </a>
                <% } else { %>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Welcome, <%= currentUser.username %> !
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/new-post"><i class="fa-solid fa-camera me-2"></i> Add
                                    photo</a></li>
                            <li><a class="dropdown-item" href="/users/<%= currentUser.username %>/posts"><i
                                            class="fa-solid fa-user me-2"></i>
                                    Profile</a></li>
                            <% if(currentUser.type === 'admin') { %>
                                <li><a class="dropdown-item" href="/admin/dashboard"><i
                                                class="fa-solid fa-gauge me-2"></i>
                                        Dashboard</a></li>
                            <% } else if(currentUser.type === 'moderator') { %>
                                <li><a class="dropdown-item" href="/admin/user-list"><i
                                                class="fa-solid fa-gauge me-2"></i>
                                        Dashboard</a></li>
                            <% } %>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <form action="/logout" method="post">
                                    <button class="dropdown-item"><i
                                                class="fa-solid fa-right-from-bracket"></i> Logout
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>

                <% } %>
            </div>
        </div>
    </div>
</nav>
