<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><img src="images/site-logo.png" alt="Company Logo" height="38" ></li>
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="https://avibase.bsc-eoc.org/checklist.jsp?region=ITpi" class="nav-link px-2 text-white">Bird Database</a></li>
            </ul>

            <form class="d-flex col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <select class="form-select-dark form-select-sm" aria-label="Search selection">
                    <option selected>General</option>
                    <option value="birds">Birds</option>
                    <option value="authors">Authors</option>
                    <option value="location">Location</option>
                    <option value="date">Date</option>
                </select>
                <input type="search" class="form-control form-control-dark" placeholder="Search posts..." aria-label="Search posts...">
            </form>

            <div class="text-end">
                <!-- checks if user is authenticated and displays the correct navbar -->
                <% if (aut === false) { %>
                    <a href="/login"><button type="button" class="btn btn-outline-light me-2"><i class="fa-solid fa-right-to-bracket"></i> Login</button></a>
                    <a href="/register"><button type="button" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i> Sign-up</button></a>
                <% } else { %>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Welcome, <%= username %> !
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-camera"></i> Add photo</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout" id="logoutLink"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
                        </ul>
                    </div>

                <% } %>
            </div>
        </div>
    </div>
</header>

<script src="https://kit.fontawesome.com/262955342a.js" crossorigin="anonymous"></script>
<script src="javascripts/logout.js"></script>