<div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body justify-content-center">
                <p>Share on:</p>
                <ul class="list-group list-group-flush list-unstyled">
                    <li class="list-group-item"><a class="text-decoration-none" id="instagramLink" href="" target="_blank"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
                    <li class="list-group-item"><a class="text-decoration-none" id="facebookLink" href="" target="_blank"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
                    <li class="list-group-item"><a class="text-decoration-none" id="telegramLink" href="" target="_blank"><i class="fab fa-telegram me-2"></i>Telegram</a></li>
                    <li class="list-group-item"><a class="text-decoration-none" id="whatsappLink" href="" target="_blank"><i class="fab fa-whatsapp me-2"></i>Whatsapp</a></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- sharing functionality -->
<script src="../javascripts/share.js"></script>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>