.customHeading {
    color:#212529;
}
.custom-form-group label {
    color:#212529;
    font-size:13px;
    font-weight:bold;
    letter-spacing:2px;
}
.custom-form-group span {
    width:32px;
    border-bottom:1px solid ;
    vertical-align:middle;
    color:#212529;
    display:inline;
}
.custom-form-group input {
    width : calc(100% - 32px);
    border:none;
    border-bottom:1px solid #212529;
    box-sizing:content-box;
    outline:none;
}
.custom-btn {
    border-radius:32px;
    background : #212529;
    border:2px solid transparent;
    color:#fff;
    height:48px;
}
.custom-btn:hover {
    background : #fff;
    border:2px solid #212529;
    color:#212529;
}
#formPanel {
    min-width:280px;
    max-width:320px;
    width:100%;
    margin:0 auto;
}
.objectFit {
    object-fit: cover;

    width:100%;
    max-width:320px;
    min-height:80vh;
    margin:0 auto
}
#showCursor {
    cursor:pointer
}

.fa {
    color: #212529;
}

.weak {
    color: red;
}
.medium {
    color: orange;
}
.strong {
    color: green;
}
.very-strong {
    color: darkgreen;
}
