.customHeading {
    color:#212529;
}
.custom-form-group label {
    color:#212529;
    font-size:13px;
    font-weight:bold;
    letter-spacing:2px;
}
.custom-form-group span {
    width:32px;
    border-bottom:1px solid ;
    vertical-align:middle;
    color:#212529;
    display:inline;
}
.custom-form-group input {
    width : calc(100% - 32px);
    border:none;
    border-bottom:1px solid #212529;
    box-sizing:content-box;
    outline:none;
}
.custom-btn {
    border-radius:32px;
    background : #212529;
    border:2px solid transparent;
    color:#fff;
    height:48px;
}
.custom-btn:hover {
    background : #fff;
    border:2px solid #212529;
    color:#212529;
}
#formPanel {
    min-width:50vw;
    max-width:60vw;
    width:100%;
    margin:0 auto;
}
.custom-img {
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10px;
}
#showCursor {
    cursor:pointer
}
.text-muted i {
    margin: 0 10px 0 0;
}
.btn-light i {
    color: red;
}

.fa-heart {
    color: red;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.fa-bookmark {
    color: chocolate;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 1.5em;
}

.fa-pen-to-square {
    font-size: 1.5em;
}

.fa-trash {
    color: darkred;
    font-size: 1.5em;
}

#comments-section {
    overflow-y: scroll;
    max-height: 500px
}